<div>
  <h2>Add Password</h2>
  <form (submit)="addPassword()">
    <label>
      Website:
      <input type="text" [(ngModel)]="website" name="website" required />
    </label>
    <label>
      Username:
      <input type="text" [(ngModel)]="username" name="username" required />
    </label>
    <label>
      Password:
      <input [(ngModel)]="password" name="password" required />
    </label>
    <button (click)="generateRandomPassword()">Generate Random Password</button>
    <button type="submit">Add</button>
  </form>
</div>
