<table>
  <thead>
    <tr>
      <th>Website</th>
      <th>Username</th>
      <th>Password</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pwd of passwords; let i = index">
      <td>{{ pwd.website }}</td>
      <td>{{ pwd.username }}</td>
      <td>
        <span *ngIf="pwd.showPassword">{{ pwd.decryptedPassword }}</span>
        <span *ngIf="!pwd.showPassword">******</span>
      </td>
      <td>
        <button (click)="toggleShowPassword(i)">
          {{ pwd.showPassword ? 'Hide' : 'Show' }}
        </button>
        <button (click)="editPassword(pwd)">Edit</button>
        <button (click)="deletePassword(i)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>


<div *ngIf="editMode" class="modal">
  <h3>Edit Password</h3>
  <label>
    Website:
    <input [(ngModel)]="editingPassword.website" />
  </label>
  <label>
    Username:
    <input [(ngModel)]="editingPassword.username" />
  </label>
  <label>
    Password:
    <input [(ngModel)]="editingPassword.password" type="text" />
    <button (click)="generateRandomPasswordForEdit()">Generate</button>
  </label>
  <div>
    <button (click)="savePasswordChanges()">Save</button>
    <button (click)="cancelEdit()">Cancel</button>
  </div>
</div>
